@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0 leading-none bg-transparent font-sans;
}
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  width: 100dvw;
  @apply flex flex-col h-screen bg-primary-200 text-slate-900 overflow-hidden;
}

@layer base {
  /** @format */
  html, body {
    @apply h-full overflow-hidden;
  }
  /*-- HEADINGS --*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-serif text-center font-[800];
    }
    h1 {
      @apply leading-none py-2 text-4xl md:text-8xl text-center text-secondary-500;
    }
    h2 {
      @apply text-3xl text-center md:text-6xl text-primary-600;
    }
    h3 {
      @apply text-2xl lg:text-5xl;
    }
    h4 {
      @apply text-xl lg:text-4xl font-extrabold italic text-slate-700;
    }
    h5 {
      @apply text-lg md:text-3xl font-bold;
    }
    h6 {
      @apply text-base md:text-2xl font-bold italic text-slate-700;
    }
    /*-- PARAGRAPHS --*/
    p {
      @apply font-sans md:text-2xl text-justify whitespace-pre-line max-w-[100%] dark:text-white;
    }
    .texto-formal {
      @apply first-letter:text-4xl  md:first-letter:text-7xl  first-letter:font-[900]  first-letter:font-serif first-letter:float-left first-letter:mr-2;
    }
    /*-- LINKS --*/
    a {
      @apply no-underline hover:underline hover:text-red-500;
    }
  
}

@layer components {
  /** @format */
  
  /*-- TABLE --*/
  .table {
    @apply bg-primary-300 *:bg-transparent;
  }
  /*-- CARDS --*/
  .infocard {
    @apply bg-gradient-to-b from-primary-200 to-primary-400;
  }
  .card-text {
    @apply text-slate-600;
  }
  .card-main-text {
    @apply text-5xl font-[900] leading-tight;
  }
  /*-- SEARCHBAR --*/
  .searchbar {
    @apply hidden md:flex w-full py-1 px-2 bg-gradient-to-b from-white to-slate-100 rounded-full;
  }
  /*-- CONSERTAR!!! --*/
  .icon-button {
    @apply text-blue-500;
  }
  .icon {
    @apply text-red-500;
  }
}
